$big-banner-slide-transition: 			true !default;
$big-banner-slide-transition-speed: 	250ms !default;
$big-banner-slide-transition-timing: 	ease-in-out !default;
$big-banner-slide-transition-delay: 	0s !default;
$big-banner-slide-vertical-align: 		middle !default;