@mixin core_big-banner-carousel {
	.big-banner-images {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		> .big-banner-image {
			display: none;

			&:first-of-type {
				display: block;
			}

			.__big-banner--carousel-ready & {
				display: block;
				opacity: 0;
				visibility: hidden;

				@if $big-banner-slide-transition != false {
					@include transition(
						(opacity $big-banner-slide-transition-speed $big-banner-slide-transition-timing $big-banner-slide-transition-delay),
						(visibility $big-banner-slide-transition-speed linear ( $big-banner-slide-transition-delay + $big-banner-slide-transition-speed ))
					);
				}

				&.__big-banner-image--active {
					opacity: 1;
					visibility: visible;

					@if $big-banner-slide-transition != false {
						@include transition(
							(opacity $big-banner-slide-transition-speed $big-banner-slide-transition-timing $big-banner-slide-transition-delay),
							(visibility $big-banner-slide-transition-speed linear $big-banner-slide-transition-delay)
						);
					}
				}
			}

			.__big-banner--carousel-ready & {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}

	.big-banner-slides {
		display: table;
		position: relative;
		width: 100%;
		height: 100%;

		.__big-banner--carousel-ready & {
			display: block;

			@if $big-banner-slide-transition != false {
				@include transition(
					(height $big-banner-slide-transition-speed $big-banner-slide-transition-timing $big-banner-slide-transition-delay)
				);
			}
		}

		> .big-banner-slide {
			.__big-banner--carousel-ready & {
				display: table;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				visibility: hidden;

				@if $big-banner-slide-transition != false {
					@include transition(
						(opacity $big-banner-slide-transition-speed $big-banner-slide-transition-timing $big-banner-slide-transition-delay),
						(visibility $big-banner-slide-transition-speed linear ($big-banner-slide-transition-delay + $big-banner-slide-transition-speed ))
					);
				}

				&.__big-banner-slide--active {
					opacity: 1;
					visibility: visible;

					@if $big-banner-slide-transition != false {
						@include transition(
							(opacity $big-banner-slide-transition-speed $big-banner-slide-transition-timing $big-banner-slide-transition-delay),
							(visibility $big-banner-slide-transition-speed linear ($big-banner-slide-transition-delay + $big-banner-slide-transition-delay ))
						);
					}
				}
			}
		}
	}

	.big-banner-slide {
		display: none;
		width: 100%;
		height: 100%;

		&:first-of-type {
			display: table;
		}
	}

	.big-banner-slide-align {
		display: table;
		height: 100%;
		width: 100%;
	}

	.big-banner-slide-align-body {
		display: table-cell;
		width: 100%;
		height: 0;
		@if $big-banner-slide-vertical-align != false {
			vertical-align: $big-banner-slide-vertical-align;
		}
	}

	.big-banner-controls {
		display: none;

		.__big-banner--carousel-ready & {
			display: block;
		}
	}
}